@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banquet Hall Booking Application </h1>
    <p class="lead">Welcome to the Booking Application Home Page.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Add Clients & Halls </h3>
        <p> &nbsp; </p>
        <p> Add a new client or hall to the system</p>
        <p><a class="btn btn-default" href="../Clients/ClientAdd">Add New Clients &raquo;</a>
            <a class="btn btn-default" href="../Halls/HallAdd">Add New Halls &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>View Clients & Halls List</h3>
        <p> &nbsp; </p>
        <p> View current list of clients and halls </p>
        <p><a class="btn btn-default" href="../Clients/ClientList">View Client List &raquo;</a>
            <a class="btn btn-default" href="../Halls/HallList">View Hall List &raquo;</a></p>
       
    </div>
    <div class="col-md-4">
        <h3>View & Book Reservations</h3>
        <p> &nbsp; </p>
        <p>Create a new reservation or view current reservations </p>
        <p><a class="btn btn-default" href="../Reservations/ReservationsAdd">Make Reservation &raquo;</a>
            <a class="btn btn-default" href="../Reservations/ReservationsList">View Reservations &raquo;</a>
        </p>
    </div>
</div>