@model List<BookingHallAppDraft.Models.Client>
@{
    ViewBag.Title = "ClientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clients List</h2>

<table class="table clients table-striped">
    <thead>
    <tr>
        <th>Client Name</th>           
        <th>Email</th>
        <th>Phone Number</th>
        <th> Actions </th>          
    </tr>
    </thead>
    <tbody>
    
 
    @foreach (var client in Model)
    {
        <tr>
            
            <td>@Html.ActionLink(client.Name, "ClientList","Clients", new {id = client.ClientId}, null)</td>               
            <td>@client.Email</td>
            <td>@client.Phone</td>
            <td><a href="/Clients/Edit/@client.ClientId">Edit </a>|| <a class ="deleteClient" id="deleteClient" href="/Clients/Delete/@client.ClientId" data-clientid= "@client.ClientId">  Delete</a></td>
        </tr>
    }
    </tbody>
</table>
<a href="/Clients/ClientAdd"> Add New Client </a>
@section scripts
{
    <script>
       
            $(".clients").DataTable();
        


        /*    $(".deleteClient").click(function(event))
            {
                event.preventDefault();
                console.log("Deleting...");
                var $this = $(this);
                bootbox.confirm("Are you sure?",
                    function(confirm) {
                        if (confirm)
                            console.log($this.data("clientid"));
                    }
            
            }*/


    </script>
}
