
@model List<BookingHallAppDraft.Models.Reservations>
@{
    ViewBag.Title = "ReservationsList";
}

<h2>Reservations List</h2>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Client Name</th>
        <th>Hall Name</th>
        <th>Date</th>
        
       
    </tr>
    </thead>
    <tbody>
    @foreach (var reservation in Model)
    {
        <tr>
            <td>@reservation.ClientName</td>
            <td>@reservation.HallName</td>
            <td>@reservation.Date.ToShortDateString()</td>
            
        </tr>
    }
        
        

    </tbody>
</table>