
@model List<BookingHallAppDraft.Models.Reservations>
@{
    ViewBag.Title = "ReservationsList";
}

<h2>Reservations List</h2>


<table class="table reservations table-striped">
    <thead>
    <tr>
        <th>Reservation ID</th>
        <th>Client Name</th>
        <th>Hall Name</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var reservation in Model)
    {
        <tr>
            <td>@reservation.ReservationId</td>
            <td>@reservation.ClientName</td>
            <td>@reservation.HallName</td>
            <td>@reservation.Date.ToShortDateString()</td>
        </tr>
    }
        
        

    </tbody>
</table>
@section scripts
{
    <script>
        $(".reservations").DataTable();
    </script>
}
